.login-container {
    background-image: 'https://img.freepik.com/premium-vector/online-shopping-digital-technology-with-icon-blue-background-ecommerce-online-store-marketing_252172-219.jpg';
    min-height: 100vh;
  }
  
  .MDBCard {
    opacity: 0;
  }
  
  .MDBCard.animated.fadeIn {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  